<div id='main'>
  <div class='article'>
    <h3 class='title'>このサイトについて</h3>
    <p class='message'>
      wanacie!は、「今から誰かと何かしたい！」を支援するWebサービスです。<br>
      例えば今からカフェに行きたいとき、一緒にお茶する相手を探せます。
    </p>
  </div>
  <div class='article'>
    <h3 class='title'>特長</h3>
    <p class='message'>
      <ul>
        <li>"今すぐ!(24時間以内)" にフォーカスしているので、いつでも思い立ったときに開催・参加でき、リアルタイム性に優れています。</li>
        <li>メールアドレスを公開することなく連絡が取れるので、個人情報を伝える必要がなく安心です。</li>
        <li>参加者などは募集ごとに管理されているので、現在の調整状況がすぐに分かります。</li>
      </ul>
    </p>
  </div>

  <div class='article'>
    <h3 class='title'>利用は簡単! 2Stepsだけ!</h3>
    <p class='message'>
      <ol>
        <li>ユーザ登録</li>
        <li>募集をかける、もしくは募集に参加</li>
      </ol>
    </p>
  </div>

  <div class='article'>
    <h3 class='title'>ご利用のガイドライン</h3>
    <p class='message'>
      wanacie!ではユーザの皆様が安心してご利用いただけるよう、ガイドラインを設けています。<br>
      以下に該当する投稿は削除対象となります。また、悪質な場合は退会となる場合があります。利用ルールを守ってご利用いただくようお願いします。
    </p>
  </div>
  <div class='article-internal'>
    <p class='message'>
      <h4 class='title'>異性交際、性別に関する内容を含む</h4>
      <ul>
        <li>恋人・結婚相手募集、異性との出会い、デート募集</il>
        <li>異性を指定しての募集（但し、女性に限り同性を指定することは可）</il>
        <li>自身の性別を表記しての募集（但し、女性に限り同性の指定をした場合は可）</il>
        <li>性別に関する質問等</il>
      </ul>
    </p>
  </div>
  <div class='article-internal'>
    <p class='message'>
      <h4 class='title'>公序良俗に反する内容を含む</h4>
      <ul>
        <li>わいせつな内容</li>
        <li>不倫、ナンパ行為</li>
        <li>援助交際、売春行為</li>
        <li>上記を連想させると判断できるもの(隠語、略語等も一切不可)</li>
      </ul>
    </p>
  </div>
  <div class='article-internal'>
    <p class='message'>
      <h4 class='title'>個人情報に関する内容を含む</h4>
      <ul>
        <li>メールアドレス、電話番号などの個人情報全て</li>
      </ul>
    </p>
  </div>
  <div class='article-internal'>
    <p class='message'>
      <h4 class='title'>営利目的の内容を含む</h4>
      <ul>
        <li>宣伝、勧誘、求人、求職</li>
        <li>金品・物品の譲渡・交換</li>
      </ul>
    </p>
  </div>
  <div class='article-internal'>
    <p class='message'>
      <h4 class='title'>その他、本サイトが不適切と判断したすべての行為</h4>
    </p>
  </div>
  <div class='article'>
  </div>

  <div class='article'>
    <h3 class='title'>運営者</h3>
    <p class='message'>
      wanacie!は <%= link_to '@larody', 'https://twitter.com/larody', :target => '_blank' %> が運営しています。<br>
      お問い合わせ、ご意見ご要望などありましたらこちら宛にメッセージをお送りください。
    </p>
  </div>
</div><!--End of main-->
